# Server options
PORT=3000
NODE_ENV=development
COOKIE_SECRET=my-secret

# Health check
HEALTH_CHECK_ENABLED=false

# Throttler
THROTTLE_GLOBAL_TTL=10000
THROTTLE_GLOBAL_LIMIT=10

# Database (PostgreSQL)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app
POSTGRES_SYNCHRONIZE=false
POSTGRES_LOGGING=false
POSTGRES_MIGRATIONS_RUN=true

DATABASE_URL="postgresql://postgres:postgres@postgres:5432/app?schema=public"

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=yauheni0504dudarevich@gmail.com
SMTP_PASSWORD=oftrgzbmspmqekbh
SMTP_FROM=yauheni0504dudarevich@gmail.com

OTP_SECRET=9745d7caf2e421833de96f92a02246e755a06336f3953675a6fc8532731087cd
